ansi==0.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
colorlog==5.0.1
cryptography==3.4.7
daemonize==2.5.0
deepmerge==0.3.0
dulwich==0.20.24
errbot==6.1.8
Flask==2.0.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
Markdown==3.3.4
MarkupSafe==2.0.1
pycparser==2.20
Pygments==2.9.0
pygments-markdown-lexer==0.1.0.dev39
pyOpenSSL==20.0.1
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.6
waitress==2.0.0
WebOb==1.8.7
WebTest==2.0.35
Werkzeug==2.0.1
